  
.intro {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    position: absolute;
    z-index: 2;
}

#body-page {
  margin: 0px;
}

.container-home-screen {
  width: 100%;
  height: 91.5vh;
  background-color: #1c1d25;
  overflow: hidden;
  display: block;
  /* background-color: blueviolet; For browsers that do not support gradients */
  
  /* background-image: linear-gradient(170deg, blueviolet 0%, blueviolet 60%, white 60.1%); */
}


.container-intro-name {
  margin: auto;
  position: absolute;
  left: 35%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Georgia, serif;
  font-size: 1.8em;
  color: white;
  z-index: 1;
  
}

.intro-title {
  padding-top: 10px;
  font-size: 0.6em;
  font-style: italic;
  color: white;
  z-index: 1;
}


.intro-button {
  margin-top: 40px;
  padding: 1em 2em;
  text-align: center;
  z-index: 1;
  background: none;
  color: #ffa260;
  border: 2px solid;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.intro-button:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}

/* .intro-button {
  margin-top: 40px;
  width: 200px;
  height: 200px;
  background-color: white; */
  /* background-image: linear-gradient(to right, #ff002c , #342be2); */
  /* border-radius: 50%;
  transition: .5s;
  text-align: center;
  color: black;
  z-index: 1;

} */
/* 
.intro-button:hover {
  margin-top: 105px;
  margin-bottom: 60px;
  height: 75px;
  border-radius: 10%;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  
} */

/* .intro-name {
  margin-left: 50px;
} */

.background-logo {
  text-align: center;
  padding-top: 150px;
  transform: scale(1);
  opacity: 0.6;
  /* transform: scale(0.5); */
}

.hyperlinks {
  /* transform: scale(1);
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(45%, -250%); */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: opacity .35s ease .75s;
  z-index: 7;
  
}


.contact-platforms {
  margin-bottom: 25px;
  transition: 0.5s;
  opacity: 0.8;
}

.contact-platforms:hover {
  cursor: pointer;
  transform: scale(1.2);
  z-index: 100;
  opacity: 1;
}

.arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.arrow span:hover {
  cursor: pointer;
  /* animation: scroll 2s infinite; */
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #FFF;
  border-right: 5px solid #FFF;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 3.5s infinite;
}

.arrow span:nth-child(2){
  animation-delay: -.2s;
}

.arrow span:nth-child(3){
  animation-delay: -.4s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}


.container-about-me {
  width: 100%;
  display: block;
  background-color: #f3f3f3;
  color: black;
}


.about-me-heading {
  font-size: 3em;
  font-family: Georgia, serif;
  /* position: relative;
  left: 10%; */
  /* padding-bottom: 50px; */
}

.about-me-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.about-me-span {
  color: #ffa260;
  -webkit-text-stroke: 0.2px black
}

.about-me-image {
  height: 650px;
  /* max-width: 50%; */
  /* width: 25%;
  height: 58.33%; */
  margin-right: 40px;
}

/* .about-me-paragraph {
  font-size: 0.9em;
} */

.about-me-content {
  height: auto;
  /* height: fit-content; */
  width: 100%;
}

/* .about-me-image {
  transform: scale(0.45);
  border: solid black;
} */

.about-me-section {
  height: auto;
  padding-top: 50px;
  /* padding-bottom: 50px; */
  background-color: #f3f3f3;
}

.about-me-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.about-me-paragraph {
  padding: 10px;
  max-width: 39em;
}

.item {
  width: -moz-fit-content;
  width: 100%;
  padding: 5px;
  margin-bottom: 1em;
  /* border: #1c1d25 solid 1px; */
}

.about-me-button {
  background-color: #ffa260;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
  margin-right: 20px;
  margin-bottom: 30px;
}

.about-me-button:hover {
  background: transparent;
  border: 2px solid #ffa260;
  color: black;
  cursor: pointer;
}

.about-me-resume {
  background: transparent;
  border: 2px solid #ffa260;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}

.about-me-resume:hover {
  background: #1c1d25;
  color: white;
  cursor: pointer;
  border: 2px solid #ffa260;
}

.web-development-skills-header {
  font-family: Georgia, serif;
  text-align: center;
  margin-bottom: 20px;
}

.skill-logo-size {
  height: 5.5em;
}

/* .skill-container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  /* width: 70%; */
/* } */ *

.skills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  /* border: 1px solid black; */
}

.projects-section {
  /* position: relative; */
  width: 100%;
  min-height: 950px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  background: #1c1d25;
  /* overflow: hidden; */
  border: black solid 1px;
  z-index: 0;
  color: white;
}

.swiper {
  width: 80%;
  /* border: black solid 1px; */
  /* height: 80%; */
  /* padding-top: 50px;
  padding-bottom: 50px; */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  /* max-width: 200px;
  min-width: 50px;
  width: 120px; */
  width: auto;
  height: auto;
  max-width: 450px;
  max-height: 400px;
  /* min-width: 150px;
  min-height: 150px; */
  box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  filter: blur(4px);
  background: transparent;
  border-radius: 10px;
  border: black solid 3px;
  overflow: hidden;
  /* color: transparent; */
  /* margin-bottom: 200px; */
  /* margin-left: 20px; */
}

.swiper-img {
  width: 450px;
  height: 300px;
  border-radius: 10px;
}

.swiper-slide-active {
  filter: blur(0px);
  /* background: #fff; */
  /* color: white; */
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.projects-title {
  font-family: Georgia, serif;
  /* margin-top: 100px;
  margin-left: 200px; */
  margin-top: 170px;
  /* position: relative;
  left: 14%; */
  position: relative;
  text-align: center;
  font-size: 2.5em;
  /* border: white solid 2px; */
  /* width: 8em; */
  /* display: flex;
  flex-wrap: wrap; */
}

.projects {
  position: relative;
  top: 50%;
  transform: translateY(60%);
}

/* .swiper-slide-active:hover .card-title-text {
  /* color: white; */
  /* position: absolute;
  top: 50%;
  left: 5%; */
  /* font-family: Georgia, serif; */
  /* background: linear-gradient(
    hsl(0 0% 0% / 0), 
    hsl(0 0% 0% / 0.3) 20%, 
    hsl(0 0% 0% /1)); */
  /* padding-bottom: 120px; */
/* } */ 

.swiper-slide-active:hover .card-title-text::after,
.swiper-slide-active:focus-within .card-title-text::after {
  transform: scaleX(1);
}

.card-title-text {
  /* position: absolute;
  top: 80%;
  left: 5%; */
  font-size: 2em;
  position: relative;
  font-family: Georgia, serif;
  transition: 1s;
  padding-left: 0.5em;
  padding-bottom: 0.2em;
  margin-bottom: 0.25em;
  /* outline: 1px solid red; */
}

.card-title-text::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  bottom: 0;
  /* margin-left: 10px; */
  /* margin-top: 1.08em; */
  margin-bottom: 5px;
  width: 80%;
  background: #40ff60;
  transform-origin: left;
  transition: transform 500ms ease;

}

.text-container {
  position: absolute;
  width: 100%;
  bottom: 0%;
  background: linear-gradient(
    hsl(0 0% 0% / 0), 
    hsl(0 0% 0% / 0.3) 20%, 
    hsl(0 0% 0% /1));
}

.card-text {
  font-size: 0.75em;
  padding: 0em 0em 1.15em 1.5em;
  /* color: rgb(255 255 255 / 0.9); */
}

.visit-project-button {
  background: transparent;
  border: 2px solid #ffa260;
  color: white;
  text-decoration: none;
  /* border: 2px solid transparent; */
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.625em 1.56em;
  border-radius: 30px;
  transition: .4s;
  margin-left: 1.2em;
  margin-bottom: 1.15em;
}

.visit-project-button:hover {
  background: white;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}

.github-image {
  width: 2.45em;
  max-width: 2.45em;
  height: 2.45em;
  padding-left: 0.75em;
  /* border: solid red 1px; */
  opacity: 0.7;
  transition: 0.4s;
}

.github-image:hover {
  cursor: pointer;
  /* border: solid red 1px; */
  opacity: 1;
}

.anchor-tag-github {
  height: 50px;
  max-width: fit-content;
  max-height: fit-content;
  /* border: solid red 5px; */
}

.project-buttons {
  display: flex;
}

@media (hover) {
  .text-container {
    transform: translateY(71%);
    transition: transform 500ms ease;
  }

  .swiper-slide-active:hover .text-container,
  .swiper-slide-active:focus-within .text-container {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .swiper-slide-active:focus-within .text-container {
    transition-duration: 0ms;
  }

  .text-container > *:not(.card-title-text) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .swiper-slide-active:hover .text-container > *:not(.card-title-text),
  .swiper-slide-active:focus-within .text-container > *:not(.card-title-text) {
    opacity: 1;
    transition-delay: 1000ms;
  }

  .card-title-text::after {
    transform: scaleX(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}